* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

/* =================================== COMMON =================================== */
html a {
  text-decoration: none;
}

.main-content {
  width: 1300px;
  max-width: calc(100% - 140px);
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

/* =================================== HEADING =================================== */

header {
  z-index: -1;
}

.main-content.fixed {
  position: sticky;
  top: -40px;
  background-color: rgb(255, 255, 255, 0.9);
  padding-bottom: 10px;
}

.header .main-content .head-body {
  padding: 36px 0 8px;
}

.head-logo {
  height: 59px;
  width: 79px;
  background-size: contain;
}

.head-body {
  display: flex;
  align-items: center;
}

.head-body .sub-title {
  margin-left: 10px;
  color: #939395;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav ul a {
  color: #000;
  font-family: Inter;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav ul a:hover,
.nav ul li.active a {
  position: relative;
  padding: 8px 21px;
  font-family: inter;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0em;
  color: #171100;
}

.nav ul li a:hover::after {
  position: absolute;
  bottom: 0;
  left: 21px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}

.nav ul li {
  margin-left: 44px;
}

/* =================================== HERO =================================== */

.hero .content .hero-info .dic {
  color: #909090;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero {
  padding-top: 166px;
  width: 1100px;
  max-width: calc(100% - 140px);
  margin-left: auto;
  margin-right: auto;
}

.hero .content {
  display: flex;
}

.hero-info {
  width: 865px;
  height: 300px;
}

.hero .content .hero-info .sub-title {
  color: #000;
  font-family: Inter;
  font-size: 12.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-scroll {
  margin-left: auto;
  /* background-color: #939395; */
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-scroll .text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: anim 10s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-scroll .text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 6.25rem;
  color: #000;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* <!-- ===== social link ===== --> */

.hero .social {
  display: flex;
  margin-top: 200px;
  margin-left: auto;
  justify-content: center;
}

.hero .social .items {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #909090;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.hero .social .items:first-child {
  margin-left: 0px;
}

.hero .social .items a {
  padding: 13px 13px;
}

/* =================================== PHILOSOPHY =================================== */

.philosophy {
  width: 1300px;
  max-width: calc(100% - 140px);
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 250px;
}

.philosophy .content .sub-title {
  color: #000;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.philosophy .content .philosophy-content {
  display: flex;
}

.philosophy .content .philosophy-content .philosophy-info {
  width: 620px;
  margin-top: 35px;
}

.philosophy .content .philosophy-content .philosophy-info .philosophy-text {
  color: #000;
  font-family: Inter;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140.523%;
  margin-bottom: 50px;
}

.philosophy-pic {
  width: 530px;
  height: 600px;
  object-fit: cover;
  object-position: 10px 50%;
  margin-left: auto;
}

.philosophy .btn {
  width: 180px;
  height: 60px;
  border-radius: 29.5px;
  border: 2px solid #9747ff;
  display: flex;
  justify-content: center;
}

.philosophy .btn:hover {
  border: 2px solid #000000;
  background-color: #000;
}

.philosophy a {
  color: #9747ff;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  width: 180px;
}
.philosophy a:hover {
  color: #ffffff;
  font-size: 1.8rem;
}

/* =================================== FRAME MOTION =================================== */

.framemotion .sub-title {
  color: #000;
  font-family: Inter;
  font-size: 12.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140.523%; /* 174.248px */
  white-space: nowrap;
  animation: RightToLeft 60s infinite linear;
}

.framemotion ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.framemotion {
  position: relative;
  overflow: hidden;
}

.framemotion__slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 80vw;
  height: 200px;
}

.framemotion__list {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.framemotion__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  cursor: pointer;
}

@keyframes RightToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

/* =================================== OUR SERVICES =================================== */
.services {
  padding-top: 124px;
  width: 1300px;
  max-width: calc(100% - 140px);
  margin-left: auto;
  margin-right: auto;
}

.services .content .service-body {
  margin-left: 110px;
}

.services .content .title {
  color: #000;
  font-family: Inter;
  font-size: 12.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.services .content .service-body {
  padding-top: 80px;
  padding-bottom: 146px;
}

.services .content .sector-main .items {
  display: flex;
  align-items: center;
  position: relative;
}

.services .content .sector-main .items .sub-title {
  height: 36px;
  margin-top: 70px;
  position: relative;
  color: #000;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.6rem;
}

.services .content .sector-main hr {
  margin-top: 15px;
  text-align: center;
  position: absolute;
  width: 1300px;
  height: 1px;
  color: #e8e7ea;
 
}

.services .content .sector-main:first-child {
  margin-top: 0px;
}

/* .services .content .sector-main .items-dic {
  height: 36px;
} */

.services .content .sector-main .dic {
  margin-top: 70px;
  color: #939395;
  font-family: Inter;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;s
  line-height: 3.6rem;
  margin-left: 205px;
}

/* =================================== CONTACT US =================================== */

.contact {
  width: 558px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
}

.contact .content .dic{
 text-align: center;
  color: #939395;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.contact .content .title {
  margin-top: 27px;
  height: 150px;
  color: #000;
  font-family: Inter;
  font-size: 12.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150px;
  
}

.contact .content .btn {
  margin-top: 50px;
  width: 184px;
  height: 60px;
  border-radius: 29.5px;
  border: 2px solid #9747ff;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.contact .content a{
  padding: 18px 34px;
  gap: 10px;
}


/* =================================== FOOTER =================================== */

.footer .main-content {
  padding-bottom: 80px;
}

.footer .main-content hr{
  margin-top: 30px;
  color: #E8E7EA;
  width: 1440px;
  height: 1px;
}
/* <!-- ===== upper ===== --> */
.footer .main-content .uppper .logo{
  display: flex;
  align-items: center;
}

.footer .main-content .uppper .logo .sub-title {
  margin-left: 10px;
  color: #939395;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer .main-content .uppper hr{
  margin-top: 30px;
  color: #E8E7EA;
  width: 1440px;
  height: 1px;
}

/* <!-- ===== under ===== --> */
.footer .main-content .under{
  padding-top: 60px;
}
/* <!-- ===== under - left ===== --> */
.footer .main-content .under .body {
  display: flex;
  margin-bottom: 50px;
}

.footer .main-content .under .body .body-left {
  width: 340px;
}

.footer .main-content .under .body .body-left .dic {
  color: #939395;
  font-family: Inter;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer .main-content .under .body .body-left .social {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

/* <!-- ===== social link ===== --> */

.main-content .under .body .body-left .social {
  display: flex;
  margin-top: 200px;
  margin-left: auto;
  justify-content: center;
}

.main-content .under .body .body-left .items {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #909090;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.main-content .under .body .body-left .social .items:first-child {
  margin-left: 0px;
}

.main-content .under .body .body-left .social .items a {
  padding: 13px 13px;
}

/* <!-- ===== under ===== --> */
/* <!-- ===== under - right ===== --> */

.main-content .under .body .body-right {
  display: flex;
  margin-left: auto;
}

.main-content .under .body .body-right .title .items {
  height: 2.8rem;
  margin-bottom: 28px;
}

.main-content .under .body .body-right .title .items .dic {
  color: #939395;
  font-family: Inter;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
}

.main-content .under .body .body-right .title-right .items {
  height: 2.8rem;
  margin-left: 50px;
  margin-bottom: 28px;
}

.main-content .under .body .body-right .title-right .items .dic {
  color: #939395;
  font-family: Inter;
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.8rem;
}