* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

/* =================================== COMMON =================================== */
html a {
  text-decoration: none;
}

.main-content {
  width: 1300px;
  max-width: calc(100% - 140px);
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

/* =================================== HEADING =================================== */

header {
  z-index: 1;
}

.head-logo {
  height: 59px;
  width: 79px;
  background-size: contain;
}

.head-body {
  display: flex;
  align-items: center;
}

.head-body .sub-title {
  margin-left: 10px;
  color: #939395;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav ul a {
  color: #000;
  font-family: Inter;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav ul a:hover,
.nav ul li.active a {
  position: relative;
  padding: 8px 21px;
  font-family: inter;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0em;
  color: #171100;
}

.nav ul li a:hover::after {
  position: absolute;
  bottom: 0;
  left: 21px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}

.nav ul li {
  margin-left: 44px;
}

/* =================================== HERO =================================== */

.hero .content .hero-info .dic {
  color: #909090;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero {
  padding-top: 166px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.hero .content {
  display: flex;
}

.hero-info {
  width: 865px;
  height: 300px;
}

.hero .content .hero-info .sub-title {
  color: #000;
  font-family: Inter;
  font-size: 12.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-scroll {
  margin-left: auto;
  /* background-color: #939395; */
  position: relative;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-scroll .text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: anim 10s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-scroll .text span {
  position: absolute;
  left: 50%;
  transform-origin: 0 6.25rem;
  color: #000;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* <!-- ===== social link ===== --> */

.hero .social {
  display: flex;
  margin-top: 200px;
  margin-left: auto;
  justify-content: center;
}

.hero .social .items {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #909090;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.hero .social .items:first-child {
  margin-left: 0px;
}

.hero .social .items a {
  padding: 13px 13px;
}
